.modal-title {
  text-align: center;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
  display: inline-block;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-block;
  outline: transparent;
  cursor: pointer;
  padding: 12px 12px 12px 42px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 16px 12px;
  cursor: pointer;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-checkbox {
  margin-bottom: 30px;
}

.checkbox-text {
  line-height: 1.71;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-left: 12px;
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #111319;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill var(--transition-duration) var(--transition-timing-function),
      background-color var(--transition-duration) var(--transition-timing-function);
  }
  .input-check:checked + span {
    background-color: var(--accent-color);
    fill: var(--background-text-color);
    border-color: transparent;
  }
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-left: 8px;
}

.policy-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.modal-send-btn {
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-text-color);
  margin: 0 auto;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
