@mixin btn($fw, $fs, $lh, $ls, $br, $h) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  border-radius: $br;
  height: $h;
}

@mixin mobile {@media screen and (min-width: 480px) { @content;  
  }
}

@mixin tablet {@media screen and (min-width: 768px) { @content;  
  }
}

@mixin desktop {@media screen and (min-width: 1200px) { @content;  
  }
}