.footer-social {
  margin-right: 93px;
}

.footer-social-text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--background-text-color);
  margin-bottom: 20px;
  color: var(--background-text-color);
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-icon {
  fill: var(--background-text-color);
  .footer-social-link:hover &,
  .footer-social-link:focus & {
    fill: var(--background-text-color);
  }
}
