.footer {
  background: var(--hero-footer-color);
  padding: 60px 0;
}

.footer-wrap {
   @include tablet { justify-content: space-around;
  flex-wrap: wrap;
display: flex;
  align-items: baseline;  
  }
  @media (max-width: 1199px) {
  text-align: center;
  }
}

.footer-contacts-box {
  margin-bottom: 60px;
  @include desktop { 
  margin-right: 70px;
  margin-bottom: 0;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.footer-logo-part {
  color: var(--background-text-color);
}

.footer-contacts-address {
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--background-text-color);
  margin-bottom: 9px;
}

.footer-contats-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
