
.hero {
  background-color: var(--hero-footer-color);
  padding: 118px 0;
  text-align: center;
  width: 100%;
  background-image: var(--gradient), url(../images/img-mob/hero-mob.jpg);
  @include retina { background-image: var(--gradient), url(../images/img-mob/hero-mob2x.jpg); }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;

   @include tablet { 
 background-image: var(--gradient), url(../images/img-tab/hero-tab.jpg);
 @include retina { background-image: var(--gradient), url(../images/img-tab/hero-tab2x.jpg); }
  }


   @include desktop {
  padding: 200px 0; 
  max-width: 1600px;
  height: 600px;
  background-image: var(--gradient), url(../images/img-desk/hero.jpg);
 @include retina { background-image: var(--gradient), url(../images/img-desk/hero2x.jpg); }
  }
}

.hero__title {
  font-weight: 900;
   font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-text-color);
  max-width: 360px;
  margin: 0 auto 30px;
  @include desktop { max-width: 696px;  
  font-size: 44px;
  line-height: calc(60 / 44);
  }
}

.order__btn {
  min-width: 200px;
  margin: 0 auto;
  @include desktop { min-width: 216px; 
  }
}