
.hero {
  background-color: var(--hero-footer-color);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.order__btn {
  min-width: 216px;
  margin: 0 auto;
}
